h3 {
  color: #484848 !important;
}
#os {
  color: #484848 !important;
}
#atendiendo {
  color: #484848 !important;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}

.input-visible {

}

label > .custom-span {
  color: #586e75;
}
.custom-span {
  font-size: 2.5rem !important;
  margin-right: 25px !important;
}

[type="radio"]+span:before, [type="radio"]+span:after {
  width: 26px;
  height: 26px;
}


input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #586e75;
}

input[type=radio] + label>img {
  border: none;
  box-shadow: none;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform:
  rotateZ(-10deg)
  rotateX(10deg);
}

.btn-group img {
  margin-right: 35px !important;
}

#ordenServicio {
  font-size: 1em;
  width: 35%;
  text-align: center;
}

.main-title {
  margin-top: 50px;
  margin-bottom: 0px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #1565c0;
  -webkit-box-shadow: 0 1px 0 0 #1565c0;
  box-shadow: 0 1px 0 0 #1565c0;
}

.input-field .prefix.active {
  color: #1565c0;
}

#btnFinalizar{
  background-color: #1565c0 !important;
}

#btnFinalizar {
    height: 108px !important;
    line-height: 108px !important;
    font-size: 1.3em !important;
    padding: 0 60px !important;
}

#btnContinuar {
  background-color: #1565c0 !important;
  color: white;
  padding: 0 60px;
}

#btnIniciar {
  background-color: #1565c0 !important;
  color: white;
  padding: 0 60px;
}

select {
    padding: 0px !important;
    height: 4rem !important;
}

textarea.materialize-textarea {
  font-size: 2rem !important;
}
