.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

input[type=radio] + label>img {
  border: none;
  box-shadow: none;
  width: 150px;
  height: 150px;
  transition: 500ms all;
}

input[type=radio]:checked + label>img {
  transform:
  rotateZ(-10deg)
  rotateX(10deg);
}

.btn-group img {
  margin-right: 35px !important;
}

#ordenServicio {
  font-size: 1.55em;
  width: 20%;
  text-align: center;
}
